* {
  box-sizing: border-box;
}
.weatherCard {
  border: double 8px #000;
  margin: 0 auto;
  max-width: 650px;
  padding: 10px 20px;
}
.data {
  display: flex;
}
.weatherCard h2 {
  color: #4d97dc;
  font-size: 120px;
  margin: 0;
}
.currentWeatherType {
  font-size: 100px;
  font-weight: 500;
  margin: 0;
  padding-right: 30px;
}
.currentTemp {
  font-size: 100px;
  font-weight: 500;
  margin: 0 80px 0 0;
}
.miscData {
  margin-top: 4px;
}
.miscData p {
  font-size: 20px;
  font-weight: 500;
  padding-right: 20px;
}
.mainData {
}
.appTitle {
  margin: 0 auto 5px auto;
  max-width: 650px;
}
.header {
  display: flex;
  margin: 10px auto 0 auto;
  max-width: 650px;
  justify-content: flex-end;
}
.header a {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  margin-left: 10px;
  text-decoration: none;
}
.header a:visited {
  color: #000;
}
.header a:hover,
.header a:active {
  color: #4d97dc;
}
